@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');

.header-head {
  font-family: 'DynaPuff', cursive;
  margin-left: 100px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  gap: 680px;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style-type: none;
  font-family: 'DynaPuff', cursive;
}
