@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.quote-section {
  margin-bottom: 40px;
  font-family: 'Oswald', sans-serif;
  border: 2px grey solid;
  width: 70%;
  padding: 8px;
  font-size: 50px;
  margin-left: 180px;
  margin-top: 170px;
  line-height: 60px;
}
